<header class="w-full bg-green-600 text-white py-4">
  <div class="container mx-auto flex items-center justify-center px-4">
    <h1 class="text-xl font-bold">VeggiePick</h1>
  </div>
</header>

<%= form_with model: @reservation, local: true, class: "max-w-md mx-auto bg-white p-6 rounded-lg shadow-md mt-10 mb-20" do |f| %>

  <h2 class="text-center mt-8 mb-8">
    <span class="inline-block bg-orange-100 px-6 py-2 text-xl font-bold">
      予約フォーム
    </span>
  </h2>

  <%= image_tag "12gatu.png", class: "w-96 h-auto mx-auto block border-4 border-orange-100" %>

  <div class="mb-4 text-center">
    <a>注）営業時間は10時〜16時になります。</a>
  </div>

  <div class="mb-4">
    <%= f.label :name, "名前", class: "block text-gray-700 font-medium mb-2" %>
    <%= f.text_field :name, class: "w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-300" %>
  </div>

  <div class="mb-4">
    <%= f.label :phone_number, "電話番号", class: "block text-gray-700 font-medium mb-2" %>
    <%= f.telephone_field :phone_number, class: "w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-300" %>
  </div>

  <div class="mb-4">
    <%= f.label :title, "収穫体験名", class: "block text-gray-700 font-medium mb-2" %>
    <%= f.text_field :title, class: "w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-300" %>
  </div>

  <div class="mb-4">
    <%= f.label :number_of_people, "人数", class: "block text-gray-700 font-medium mb-2" %>
    <%= f.number_field :number_of_people, class: "w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-300" %>
  </div>

  <div class="mb-4">
    <%= f.label :reservation_date, "希望日時", class: "block text-gray-700 font-medium mb-2" %>
    <%= f.datetime_local_field :reservation_date, class: "w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-300" %>
  </div>

  <div class="text-center">
    <%= f.submit "予約する", class: "bg-orange-100 hover:bg-orange-400 font-bold py-2 px-4 rounded block mx-auto mb-50 border-2 border-orange-200" %>
  </div>
<% end %>